<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/L%C3%ADnea_B_%28Logo_Metro_de_Medell%C3%ADn%29.svg">
</div>
<h2>Here are some links to help you start: </h2>
<button class="btn-success" (click)="callingCORSApi()">Call Weather API</button>